.tree {
    list-style: none;
    padding: 0;
}

.tree > .tree-item {
    padding-left: 25px;
}

.tree-item {
    position: relative;
}

.tree-item-link {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.tree-item-link:hover {
    text-decoration: underline;
}

.tree-point {
    position: relative;
    padding: 2px 5px 2px;
    line-height: 21px;
    border-radius: 3px;
}

.tree.opened {
    display: block;
}

.tree.closed {
    display: none;
}

.tree-item-status {
    /* transition: .1s; */
    position: absolute;
    right: 100%;
    top: 0px;
    bottom: 0px;
    height: 16px;
    padding: 3px 8px;
}

.tree-item-status:hover {
    color: blue;
}

.tree-subitem-loader {
    position: absolute;
    right: 100%;
    top: 0px;
    bottom: 0px;
    height: 16px;
    padding: 3px 0px;
}

.tree-item-link-list {
    margin-right: 8px;
    display: inline;
    margin-left: 5px;
    position: relative;
    top: 1px;
    cursor: pointer;
    font-size: 14px;
}

.tree-search {
    color: #333;
    margin: 0px 6px 5px;
    width: calc(100% - 12px);
}