
/* html { */
/*     height: 100%; */
/* } */

/* body { */
/*     background-color: [% site.col.page %]; */
/*     color: [% site.col.text %]; */
/*     margin: 0px; */
/*     padding: 0px; */
/*     height: 100%; */
/* } */

/* .underheader {
   padding-top: 160px;
		      } */

/* #header { */
/*     background-color: [% site.col.head %]; */
/*     border-bottom: 1px solid [% site.col.line %]; */
/* } */

/* #footer { */
/*     background-color: [% site.col.head %]; */
/*     text-align: center; */
/*     border-top: 1px solid [% site.col.line %]; */
/*     position: absolute; */
/*     bottom: 0; */
/*     left: 0px; */
/*     width: 100%; */
/*     padding: 4px; */
/* } */

#content {
  padding-top: 70px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}

/* h1.title { */
/*     padding: 4px; */
/*     margin: 0px; */
/* } */

/* .message { */
/*     color: [% site.col.message %]; */
/* } */

/* .error { */
/*     color: [% site.col.error %]; */
/* } */


 // .required:after {
 //   /* content: "\e146"; */
 //   /* content: "\e034"; flag */
 //   content: "\e044";
 //   font-family: "Glyphicons Halflings";
 //   font-size: 60%;
 //   color: #E74C3C;
 //   vertical-align: top;
 //   margin: 0px 0px 0px 3px;
 //   padding: 0 3px 0 0;
 // }

.required:after {
  content: "\f06a";
  font-family: "FontAwesome";
  font-size: 70%;
  color: #E74C3C;
  vertical-align: top;
  margin: 0px 0px 0px 3px;
  padding: 0 3px 0 0;
}

.requiredwhen:after {
    /* content: "\e146"; */
    content: "\e034";
    font-family: "Glyphicons Halflings";
    font-size: 70%;
    color: #E99002;
    vertical-align: top;
    margin: 0px 0px 0px 5px;
    padding: 0 5px 0 0;
}

.blocked:after {
  content: "\f05e";
  font-family: "FontAwesome";
  font-size: 70%;
  color: #E74C3C;
  vertical-align: top;
  margin: -10px 0px 0px -20px;
  padding: 0 5px 0 0;
}

.iconright:after {
  content: "\f06b";
  font-family: "FontAwesome";
  font-size: 100%;
  color: #3c9a5f;
  vertical-align: top;
  margin: 0px 0px 5px 0px;
  padding: 0 0 0 0;
}

.mono {
    font-family: "monospace";
    word-break: break-all;
}

.umi-search, .umi-search:active {
  color: #FFFFFF;
  text-decoration: none;
}

.umi-search:hover, .umi-search:focus {
  background-color: #F0F0F0;
  border-color: #F0F0F0;
  text-decoration: none;
}

.umi-search:visited {
  color: #FFFFFF;  
  background-color: #8080FF;
  border-color: #8080FF;
  text-decoration: none;
}

.table-vcenter td {
   vertical-align: middle!important;
}

.umi-text-left {
  text-align: left;
}

.umi-opacity05 {
  opacity: 0.5;
}


.js div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: visible;
  opacity: .6;
  background: #fff url('/static/images/preloaders.net-MovingBlocks.GIF') no-repeat center center;
}

#loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: visible;
  opacity: .6;
  background: #fff url('/static/images/preloaders.net-MovingBlocks.GIF') no-repeat center center;
}

#loaderfa {
  display: none;
  position: fixed;
  width: 54px;
  height: 54px;
  z-index: 9999;
  left: 2px;
  top: 2px;
  font-size: 12px;
  line-height: 74px;
  text-align: center;
  border-radius: 100%;
  background: rgba(252, 252, 252, 0.37);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.48);
}

.clear {
  display: block;
  clear: both;
}

.umi-zerro-padding {
  padding: 0 !important;
}

.umi-zerro-margin {
  margin: 0 !important;
}
