[% META title = 'DHCP root' %]

<div class="page-header">
  <h2>New DHCP Lease Creation Form <small><em>IP address to MAC binding</em></small></h2>
</div>

[% INCLUDE ldap_err.tt %]

[% form.render %]
