[% META title = 'DHCP root' %]

<div class="page-header">
  <[% site.pageheading %]>New DHCP Lease Creation Form <small><em>IP address to MAC binding</em></small></[% site.pageheading %]>
</div>

[% INCLUDE ldap_err.tt %]

[% form.render %]
