[% META title = 'Password Generator' %]

<[% site.pageheading %] class="font-weight-bold p-3">
<i class="fa fa-unlock-alt fa-lg m-3 text-muted"></i>
Password Generator Form <small><em class="text-monospace text-muted"> completely random or random pronounceable word</em></small>
</[% site.pageheading %]>
<hr>

[% INCLUDE ldap_err.tt %]

[% form.render %]
