[% META title = 'To QR Code' %]

<[% site.pageheading %]><i class="fa fa-qrcode fa-lg"></i> Text to QR Code <small><em>all stuff</em></small></[% site.pageheading %]>

[% INCLUDE ldap_err.tt %]

[% form.render %]

