[% META title = 'To Import' %]

<[% site.pageheading %]><i class="fa fa-download fa-lg"></i> LDIF to import <small><em>( either LDIF file or LDIF data )</em></small></[% site.pageheading %]>

[% INCLUDE ldap_err.tt %]

[% form.render %]

<script src="/static/js/umi-tool-import.js"></script>
