[% META title = 'To Translit' %]

<[% site.pageheading %] class="font-weight-bold p-3">
<i class="fas fa-language fa-lg mr-3 text-muted"></i>
Text to translit <small><em class="text-muted text-monospace"></em></small>
</[% site.pageheading %]>
<hr>

[% INCLUDE ldap_err.tt %]

[% form.render %]

