[% META title = 'JpegPhoto Modify' %]

<div class="page-header">
  <[% site.pageheading %]>jpegPhoto Modification Form <small><em class="mono">for user: [% ldap_modify_jpegphoto %]</em></small></[% site.pageheading %]>
</div>

[% INCLUDE ldap_err.tt %]

[% form.render %]

