[% META title = 'Password Modify' %]

<div class="page-header">
  <h2>Password Check or Modification Form <small><em class="mono">for user: [% ldap_modify_password %]</em></small></h2>
</div>

[% INCLUDE ldap_err.tt %]

[% form.render %]
    
<script src="/static/js/umi-deactivate-top-bottom.js"></script>
