[% META title = 'User root' %]

<div class="row">
  <div class="col-md-10">
  <[% site.pageheading %]>New User Creation Form <small><em>all stuff</em></small></[% site.pageheading %]>

  [% form.render %]

  </div>
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="/user">
	  <span class="fa fa-plus-circle text-success"></span>
	  create new</a>
      </li>
    </ul>
  </div>
</div>
