[% META title = 'Org root' %]

[% IF form.init_object.aux_dn_form_to_modify %]
<h2>Form to Update Org <small><em>[% form.init_object.aux_dn_form_to_modify %]</em></small></h2>
[% ELSE %]
<h2>Form to Create Org <small><em>all stuff</em></small></h2>
[% END %]

[% INCLUDE ldap_err.tt %]

[% form.render %]

[% IF form.init_object.aux_dn_form_to_modify %]
<script type="text/javascript"> $('.hide4update').hide(300); </script>
[% END %]

