[% META title = 'UNAUTHORIZED' %]

<div class="row justify-content-center m-5">
  <div class="col-md-6">
    <div class="clearfix">
      <h1 class="float-left display-3 mr-4"><b>404</b></h1>
      <h4 class="pt-3">Oops
	<strong class="text-info">
	  <em>
	    [% c.user.username %]
	  </em>
	</strong>! You're lost.</h4>
      <p class="text-muted">The page you are looking for was not found yet/already/don't know why ...</p>
    </div>
  </div>
</div>
