[% META title = 'page to test code' %] 

<[% site.pageheading %] class="font-weight-bold p-3">
<i class="fas fa-vial fa-lg mr-3 text-muted"></i>
Test code page<em class="h6 text-muted text-monospace"> (page to show test code results)</em>
</[% site.pageheading %]>
<hr>

[% INCLUDE ldap_err.tt %]

[% USE dumper() %]

<pre class="h6 text-monospace">

  [% dumper.dump(final_message) %]

</pre>
