[% META
   title = 'Group Members'
%]

<div class="page-header">
  <[% site.pageheading %]>Group Member/s Modification Form <small><em class="mono">for group: [% groupdn %]</em></small></[% site.pageheading %]>
</div>

[% INCLUDE ldap_err.tt %]

[% form.render %]

<script>
$(function() {
    $('.umi-multiselect2').select2({
      placeholder: 'select a group member/s',
      allowClear: true
    });
});
</script>
